<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Electron app</title>
  </head>
  <body>
    <div id="mount"></div>
  </body>
</html>